.heroContainer {
  height: 100vh;
  position: relative;
}

.img {
  position: absolute;
  top: -120px;
  right: 0;
  height: auto;
  width: 73%;
  display: none;
  z-index: -10;
}

.wrapper,
.budgetWrapper {
  grid-template-columns: 1fr;
  height: 100%;
  align-items: center;
}

.wrapper {
}

.textContent,
.goalTextWrap,
.budgetTextWrap,
.goalsWrapper {
  align-items: flex-start;
}

.textContent > p:first-child,
.heroHeading > h1 {
  line-height: 3rem;
}

.budgetTextWrap button,
.heroHeading > p > i,
.budgetTextWrap > div > p > i,
.goalsTextWrap > div > p > i {
  color: var(--primary-color);
}

.heroHeading > p > i,
.budgetTextWrap > div > p > i,
.goalHeading > p > i {
  font-size: 0.8rem;
  line-height: 30px;
  font-family: 'GeneralSans-Medium';
}

.heroHeading > h1,
.budgetTextWrap h2,
.goalTextWrap h3 {
  font-family: 'GeneralSans-Bold';
  max-width: 16ch;
}

.heroHeading > h1 {
  font-size: var(--text-lg);
}

.heroHeading > p > span,
.budgetTextWrap > div > p > span,
.goalHeading > p > span {
  width: 20px;
  height: 1px;
  background-color: var(--primary-color);
}

.paraText,
.bizEmail p,
.respectText,
.partnership > p,
.budgetTextWrap p,
.goalTextWrap > p,
.goalTextWrap > ul > li {
  color: var(--text-color);
  font-size: var(--text-md);
}

.paraText,
.budgetTextWrap p,
.goalTextWrap p {
  font-family: 'GeneralSans-Regular';
}

.budgetWrapper {
  gap: 6rem;
}

.goalsWrapper {
  gap: 8rem;
}

.paraText {
  max-width: 47ch;
}

.budgetTextWrap p,
.goalTextWrap p {
  max-width: 55ch;
}

.bizEmail {
  border: 0.4px solid #7777773b;
  border-radius: 0.5rem;
  padding: 0.5rem 0.6rem;
  width: 370px;
  max-width: 80%;
}

.heroImage > div > ul > li {
  border-radius: 0.4rem;
}

.heroImage > div > ul > li:nth-child(2) {
  background-color: black;
}

.heroImage > div > ul > li > span {
  width: 0.7px;
  height: 20px;
  background-color: var(--text-color);
}

.heroImage > div > ul > li > p {
  font-size: 11px;
  line-height: 15px;
  color: var(--text-color);
}

.heroImage > img,
.budgetImage > img:last-child,
.goalsImage > img:last-child {
  height: auto;
  object-fit: contain;
}

.heroImage > img {
  width: 50%;
}

.budgetImage,
.goalsImage {
  position: relative;
  /* display: inline-block; */
}

.goalsImage {
  order: -1;
}

.fgImage {
  position: relative;
  z-index: 2;
  top: 0;
  width: 70%;
  left: 0;
}

.bgImage,
.bgGoalsImage {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 5%;
  left: 6%;
}

.bgGoalsImage {
  left: 18%;
  width: 70%;
}

.plans,
.goals {
  position: absolute;
  top: 80%;
  left: 70%;
  z-index: 2;
}

.goals {
  left: 5%;
  top: 74%;
}

.budgetTextWrap h2,
.goalTextWrap h3 {
  font-size: var(--text-slg);
}

.budgetTextWrap > button {
  font-family: 'GeneralSans-Semibold';
}

.customersWrapper h4 {
  font-family: 'GeneralSans-Bold';
  font-size: 1.3rem;
  line-height: 40px;
}

.customersHeading > p,
.customersGridContainer > div p {
  color: var(--text-color);
  font-family: 'GeneralSans-Regular';
  line-height: 35px;
  font-size: 15px;
}

.customersGridContainer {
  grid-template-columns: 1fr;
  padding-inline: 1rem;
}

.customersHeading {
  max-width: 75ch;
}

.customersGridContainer > div,
.customersHeading {
  text-align: center;
}

.customersGridContainer > div {
  background-color: #0b0a0a08;
  padding: 1rem;
  max-width: 55ch;
  padding-top: 6rem;
  width: 100%;
  height: 80%;
}

.customersGridContainer > div h5 {
  font-family: 'GeneralSans-Semibold';
  font-size: var(--text-md);
  line-height: 40px;
}

.wrapContainer > img {
  width: 70%;
  height: 70%;
  margin-top: 40px;
}

.exploreWrapper {
  border-radius: 0px 50px 0px 50px;
  padding: 1.5rem;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  background-color: #0b0a0a08;
}

.exploreWrapper span {
  font-family: 'GeneralSans-Regular';
  font-size: var(--text-md);
  color: var(--text-tertiary-color);
}

.exploreWrapper h6 {
  font-family: 'GeneralSans-Semibold';
  /* font-size: var(--text-slg); */
  font-size: 1.1rem;
}

.learnMore {
  background-color: white !important;
  color: var(--primary-color) !important;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
}

@media screen and (min-width: 768px) {
  .wrapper,
  .budgetWrapper,
  .goalsWrapper,
  .customersGridContainer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-block: 4rem;
  }

  .heroHeading > h1 {
    line-height: 4rem;
  }

  .heroHeading > p > i,
  .budgetTextWrap > div > p > i,
  .goalHeading > p > i {
    font-size: 1.2rem;
  }

  .wrapper {
    padding-top: 0;
  }

  .customersWrapper h4 {
    font-size: 3rem;
  }

  .goalsImage {
    order: 1;
  }

  .exploreWrapper {
    border-radius: 0px 50px 0px 50px;
    padding: 2.7rem 1.5rem;
    gap: 0;
    justify-content: space-around;
    background-color: #0b0a0a08;
  }

  .exploreWrapper h6 {
    font-size: 2rem;
  }

  .img {
    display: block;
  }

  .bizEmail {
    width: 350px;
  }

  .goalsWrapper {
    gap: 1rem;
   }
}
